body {
    border:solid;
    border-color: steelblue;
    
    box-shadow: 10px 5px 5px 5px black;
    margin-left: 23em;
   
    width: 900px;
    
    font-family: sans-serif;
    font-size: 100%;
    
}


header{
    background-image: linear-gradient(white,steelblue);
    border:solid;
    border-color: steelblue;
   
}

header img{
    float: left;
}

header h1{
    text-indent: 2em;
    color: steelblue;
    font-style: italic;
    text-shadow:steelblue;
    
}

header h1{
    color: steelblue;
    font-style: italic;
    text-shadow: 2px 2px 4px steelblue;
    text-indent: 2.7em;
    
}

header h3{
    font-weight: bold;
    text-indent: 4.8em;

}

main{
    clear:left;

}

section{
    width:550px;
    float:right;
    padding-right: 2em;
    padding-bottom: 5em;

}

section a:link{
    color:maroon;

}

section a:visited{
    color:maroon;

}

section a:hover, a:focus{
    color:steelblue;

}

aside{
    width: 245px;
    padding-left: 2em;
    float:left;

}
aside h3{
    color:maroon;
    
}
li{
    line-height: 1.5;
  
}

li a{
    font-weight: bolder;
}

aside a:link{
    color:steelblue;

}

aside a:visited{
    color:steelblue;

}

aside a:hover{
    color:maroon;
}

footer{
    clear:both;
    width: 100%;
    padding-bottom: 5em;
    color:white;
    background-color: steelblue;
    text-align: center;
    font-size: 10px;

}
